# Welcome to {{ project_name }}

{{ description }}

## 開発環境
以下のように環境構築を行います

* mise


## 開発用セットアップ
プロジェクト構築後に、以下の手順で実行環境を構築します

```bash
cd <your-project-name>

# Install dependencies

# Run formatting and linting (automatically runs on commit)


# Run lint and format before commit

# Run tests


```

## VSCodeでのDevcontainerを利用した開発用セットアップ
VSCodeの場合、Devcontainerを開きます
